@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,700;0,900;1,500&display=swap");



* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Righteous", cursive;
  font-family: "Roboto", sans-serif;
  background-color: #eef9bf;

}

.container {
  display: flex;
  background-color: #eef9bf;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* -- Header Related -- */

header span {
  display: flex;
  color: #75b79e;
  font-size: 56px;
  font-weight: bold;
  text-align: center;
}

/* -- Main Content -- */
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 326px;
  max-width: 873px;
  width: 70%;
}

/* -- Cards -- */

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a7e9af;
  width: 117px;
  height: 146px;
  border-radius: 5px;
  border: 1px solid #99cea8;
  margin: 10px;
  position: relative;
  perspective: 1000px;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip {
  transform: rotateY(180deg);
}

.front {
  background-image: url(../img/front.png);
  background-size: 100px 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #a7e9af;
  width: 117px;
  height: 146px;
  border-radius: 5px;
  border: 1px solid #99cea8;
  margin: 10px;
  backface-visibility: hidden;
  position: absolute;
}

.back {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a7e9af;
  width: 117px;
  height: 146px;
  border-radius: 5px;
  border: 1px solid #99cea8;
  margin: 10px;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.back-img {
  width: 100px;
  backface-visibility: hidden;
}



/* -- Utilities -- */

.disabled {
  display: none;
}


.turn {
  transition: all 1s;
  transform: rotateY(180deg);
}

.match {
  pointer-events: none !important;
}

.events-none {
  pointer-events: none;
}

